<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
  <title><%= title %></title>
<!--  <link rel='stylesheet' href='/stylesheets/style.css' />-->
<!--  <link rel='stylesheet' href='/stylesheets/foundation.min.css' />-->
<!--  <link rel='stylesheet' href='/stylesheets/materialize.min.css' />-->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link rel="manifest" href="site.webmanifest"> -->
  <!-- Place favicon.ico in the root directory -->

  <!-- CSS here -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css">
  <link rel="stylesheet" href="/stylesheets/magnific-popup.css">
  <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/themify-icons.css">
  <link rel="stylesheet" href="/stylesheets/nice-select.css">
  <link rel="stylesheet" href="/stylesheets/flaticon.css">
  <link rel="stylesheet" href="/stylesheets/gijgo.css">
  <link rel="stylesheet" href="/stylesheets/animate.min.css">
  <link rel="stylesheet" href="/stylesheets/slick.css">
  <link rel="stylesheet" href="/stylesheets/slicknav.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/responsive.css">
</head>
<body>
<header>
  <div class="header-area ">
    <div id="sticky-header" class="main-header-area">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-xl-3 col-lg-2">
            <div class="logo">
              <a href="/">
                <img src="images/logo.png" alt="">
              </a>
            </div>
          </div>
          <div class="col-xl-6 col-lg-7">
            <div class="main-menu  d-none d-lg-block">
              <nav>
                <ul id="navigation">
                  <li><a href="/">home</a></li>
                  <li><a href="/products">Products</a>
<!--                    <ul class="submenu">-->
<!--                      <li><a href="Case_details.html">Case  details</a></li>-->
<!--                      <li><a href="about.html">about</a></li>-->
<!--                      <li><a href="elements.html">elements</a></li>-->
<!--                    </ul>-->
                  </li>
                  <li><a href="/services">Services</a></li>
<!--                  <li><a href="Case_Study.html">Case Study</a></li>-->
<!--                  <li><a href="#">blog <i class="ti-angle-down"></i></a>-->
<!--                    <ul class="submenu">-->
<!--                      <li><a href="blog.html">blog</a></li>-->
<!--                      <li><a href="single-blog.html">single-blog</a></li>-->
<!--                    </ul>-->
<!--                  </li>-->
                  <li><a href="/contacts">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 d-none d-lg-block">
            <div class="Appointment">
              <div class="book_btn d-none d-lg-block">
                <a  href="#"> <i class="fa fa-phone"></i> +65 8249 0627</a>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="mobile_menu d-block d-lg-none"></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</header>

<div class="shap_big_2 d-none d-lg-block">
  <img src="images/ilstrator/body_shap_2.png" alt="">
</div>
<div class="slider_area">
  <div class="shap_img_1 d-none d-lg-block">
    <img src="images/ilstrator/body_shap_1.png" alt="">
  </div>
<!--  <div class="poly_img">-->
<!--    <img src="images/ilstrator/poly.png" alt="">-->
<!--  </div>-->
  <div><br><br><br><br></div>
  <div class="single_slider  d-flex align-items-center slider_bg_1">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-10 offset-xl-1">
          <div class="slider_text text-center">
            <div class="text">
              <h3>
                Decentralized Transaction Management <br>
              </h3>
              <a class="boxed-btn3" href="#">Get Started</a>
            </div>
            <div class="ilstrator_thumb">
              <img src="images/ilstrator/illustration.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- service_area  -->
<div class="service_area">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-md-4">
        <div class="single_service text-center">
          <div class="icon">
            <img src="images/svg_icon/seo_1.svg" alt="">
          </div>
          <h3>Distributed Ledger Technology</h3>
          <p>Digitizing customer-facing processes around contracts and agreements via Distributed Ledger serving up to $25 billion by 2023.</p>
          <a href="#" class="boxed-btn3-text">Learn More</a>
        </div>
      </div>
      <div class="col-xl-4 col-md-4">
        <div class="single_service text-center">
          <div class="icon">
            <img src="images/svg_icon/seo_2.svg" alt="">
          </div>
          <h3>Automated Creation</h3>
          <p> More advanced DTM covers Automated creation and routing of those agreements, before they are ready to sign and then after signing.</p>
          <a href="#" class="boxed-btn3-text">Learn More</a>
        </div>
      </div>
      <div class="col-xl-4 col-md-4">
        <div class="single_service text-center">
          <div class="icon">
            <img src="images/svg_icon/seo_3.svg" alt="">
          </div>
          <h3>Enterprise Blockchain</h3>
          <p>Running on Monesign Network Basic building block that may be combined with other
            protocols to drive sophisticated apps.</p>
          <a href="#" class="boxed-btn3-text">Learn More</a>
        </div>
      </div>
    </div>

  </div>
</div>
<!--/ service_area  -->

<!-- compapy_info  -->
<div class="compapy_info">
  <div class="container">
    <div class="row">
      <div class="col-xl-5 col-md-5">
        <div class="man_thumb">
          <img src="images/ilstrator/man.png" alt="">
        </div>
      </div>
      <div class="col-xl-7 col-md-7">
        <div class="company_info">
          <h3>Xenturion's Monesign-Network  <br>
            </h3>
          <p>Based on the product distributed ledger as the underlying platform that provides the core distributed database.
            So adding a ledger table to the database leverages the distributed database platform. The entire database was designed to be always on,
            distributed and redundant.</p>

          <a href="#" class="boxed-btn3">About Us</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- case_study_area  -->
<div class="case_study_area case_bg_1">
  <div class="patrn_1 d-none d-lg-block">
    <img src="img/pattern/patrn_1.png" alt="">
  </div>
  <div class="patrn_2 d-none d-lg-block">
    <img src="img/pattern/patrn.png" alt="">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="section_title text-center mb-95 white_text">
          <h3>Our R&D Products</h3>
          <p>Here you might find the R&D area we're currently doing. </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="case_active owl-carousel">
          <div class="single_study text-center">
            <div class="thumb">
              <a href="#">
                <img src="images/case_study/1.png" alt="">
              </a>
            </div>
            <div class="subheading">
              <h4><a href="#">Hub </a></h4>
              <p>Smart Contract Network.</p>
            </div>
          </div>
          <div class="single_study text-center">
            <div class="thumb">
              <a href="#">
                <img src="images/case_study/2.png" alt="">
              </a>
            </div>
            <div class="subheading">
              <h4><a href="#">Relay </a></h4>
              <p>Blockchain Infrastructure.</p>
            </div>
          </div>
          <div class="single_study text-center">
            <div class="thumb">
              <a href="#">
                <img src="images/case_study/3.png" alt="">
              </a>
            </div>
            <div class="subheading">
              <h4><a href="#">Witness </a></h4>
              <p>Storage Network.</p>
            </div>
          </div>
          <div class="single_study text-center">
            <div class="thumb">
              <a href="#">
                <img src="images/case_study/1.png" alt="">
              </a>
            </div>
            <div class="subheading">
              <h4><a href="#">DAPPs </a></h4>
              <p>Mobile, Web and Desktop App.</p>
            </div>
          </div>
          <div class="single_study text-center">
            <div class="thumb">
              <a href="#">
                <img src="images/case_study/2.png" alt="">
              </a>
            </div>
            <div class="subheading">
              <h4><a href="#">IDE</a></h4>
              <p>Development Tools</p>
            </div>
          </div>
<!--          <div class="single_study text-center">-->
<!--            <div class="thumb">-->
<!--              <a href="#">-->
<!--                <img src="images/case_study/3.png" alt="">-->
<!--              </a>-->
<!--            </div>-->
<!--            <div class="subheading">-->
<!--              <h4><a href="#">Digital Marketing</a></h4>-->
<!--              <p>UI/UX, Design</p>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="single_study text-center">-->
<!--            <div class="thumb">-->
<!--              <a href="#">-->
<!--                <img src="images/case_study/3.png" alt="">-->
<!--              </a>-->
<!--            </div>-->
<!--            <div class="subheading">-->
<!--              <h4><a href="#">Digital Marketing</a></h4>-->
<!--              <p>UI/UX, Design</p>-->
<!--            </div>-->
<!--          </div>-->
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ case_study_area  -->

<!-- accordion_area  -->
<div class="accordion_area">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-xl-6 col-lg-6">
        <div class="faq_ask">
          <h3>Why Choose Us</h3>
          <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Reliable P2P Document Storage <span></span>
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion" style="">
                <div class="card-body">Users of the system do not have to be solely concern with the risk management compliance of a single document gate-keeper.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Ease of use Blockchain Technology
                  </button>
                </h5>
              </div>
              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion" style="">
                <div class="card-body">The platform closes the gap which exist from business service consumers being unable to appreciate and not having educated confidence over the use of blockchains and smart contracts and the lack ability of producers to provide a measure of confidence to the business consumers in adopting blockchain and bloackchain-based solutions.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Easy Adoption
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion" style="">
                <div class="card-body">The NaaS model enables easy adoption of the distributed database and decentralised business model for digital transaction management solution developers and end-users.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6">
        <div class="accordion_thumb">
          <img src="images/banner/accordion.png" alt="">
        </div>
      </div>
    </div>
  </div>

</div>
<!--/ accordion_area  -->

<!-- features_area  -->
<div class="features_area">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="section_title text-center">
          <h3>We have some awesome features <br>
            to get your business jumpstart into Blockchain</h3>
          <p>Based on prior experience with developing blockchain based technology and applications, Xenturion established confidence through <a href="https://link.springer.com/chapter/10.1007/978-3-030-13693-2_19">literature research</a> and by establishing basic protocols for our blockchain network. <br></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-md-6 col-lg-4">
        <div class="single_feature">
          <div class="icon">
            <img src="images/svg_icon/feature_1.svg" alt="">
          </div>
          <h4>Custom Blockchain Design</h4>
          <p>Esteem spirit temper too say adieus who direct esteem.</p>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 col-lg-4">
        <div class="single_feature">
          <div class="icon">
            <img src="images/svg_icon/feature_2.svg" alt="">
          </div>
          <h4>Document Transaction Search Result</h4>
          <p>Esteem spirit temper too say adieus who direct esteem.</p>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 col-lg-4">
        <div class="single_feature">
          <div class="icon">
            <img src="images/svg_icon/feature_3.svg" alt="">
          </div>
          <h4>Global Partners in All Continents</h4>
          <p>Esteem spirit temper too say adieus who direct esteem.</p>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 col-lg-4">
        <div class="single_feature">
          <div class="icon">
            <img src="images/svg_icon/feature_4.svg" alt="">
          </div>
          <h4>Quick Technical Response</h4>
          <p>Esteem spirit temper too say adieus who direct esteem.</p>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 col-lg-4">
        <div class="single_feature">
          <div class="icon">
            <img src="images/svg_icon/feature_5.svg" alt="">
          </div>
          <h4>Custom Blockchain Applications</h4>
          <p>Esteem spirit temper too say adieus who direct esteem.</p>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 col-lg-4">
        <div class="single_feature">
          <div class="icon">
            <img src="images/svg_icon/feature_6.svg" alt="">
          </div>
          <h4>Setup business ROI</h4>
          <p>Esteem spirit temper too say adieus who direct esteem.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ features_area  -->

<!--<div class="testimonial_area ">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-xl-12">-->
<!--        <div class="testmonial_active owl-carousel">-->
<!--          <div class="single_carousel">-->
<!--            <div class="single_testmonial text-center">-->
<!--              <div class="quote">-->
<!--                <img src="images/testmonial/quote.svg" alt="">-->
<!--              </div>-->
<!--              <p>Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor <br>-->
<!--                sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed neque.  <br>-->
<!--                Fusce ac mattis nulla. Morbi eget ornare dui. </p>-->
<!--              <div class="testmonial_author">-->
<!--                <div class="thumb">-->
<!--                  <img src="images/testmonial/thumb.png" alt="">-->
<!--                </div>-->
<!--                <h3>Robert Thomson</h3>-->
<!--                <span>Business Owner</span>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="single_carousel">-->
<!--            <div class="single_testmonial text-center">-->
<!--              <div class="quote">-->
<!--                <img src="images/testmonial/quote.svg" alt="">-->
<!--              </div>-->
<!--              <p>Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor <br>-->
<!--                sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed neque.  <br>-->
<!--                Fusce ac mattis nulla. Morbi eget ornare dui. </p>-->
<!--              <div class="testmonial_author">-->
<!--                <div class="thumb">-->
<!--                  <img src="images/testmonial/thumb.png" alt="">-->
<!--                </div>-->
<!--                <h3>Robert Thomson</h3>-->
<!--                <span>Business Owner</span>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="single_carousel">-->
<!--            <div class="single_testmonial text-center">-->
<!--              <div class="quote">-->
<!--                <img src="images/testmonial/quote.svg" alt="">-->
<!--              </div>-->
<!--              <p>Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor <br>-->
<!--                sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed neque.  <br>-->
<!--                Fusce ac mattis nulla. Morbi eget ornare dui. </p>-->
<!--              <div class="testmonial_author">-->
<!--                <div class="thumb">-->
<!--                  <img src="images/testmonial/thumb.png" alt="">-->
<!--                </div>-->
<!--                <h3>Robert Thomson</h3>-->
<!--                <span>Business Owner</span>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--&lt;!&ndash; /testimonial_area  &ndash;&gt;-->

<footer class="footer">
  <div class=" container">
    <div class="pro_border">
      <div class="row">
        <div class="col-xl-6 col-md-6">
          <div class="lets_projects">
            <h3>Let’s Start your project, <a href="#">Mail Us</a> </h3>
          </div>
        </div>
        <div class="col-xl-6 col-md-6">
          <div class="phone_number">
            <h3>+65 8249 0627</h3>
            <a href="#">support@xenturion.io</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_top">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-md-6 col-lg-3">
          <div class="footer_widget">
            <div class="footer_logo">
              <a href="#">
                <img src="images/footer_logo.png" alt="">
              </a>
            </div>
            <p>
              Esteem spirit temper too say adieus who direct esteem. It esteems luckily or picture placing drawing.
            </p>
            <div class="socail_links">
              <ul>
                <li>
                  <a href="#">
                    <i class="ti-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="ti-twitter-alt"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-instagram"></i>
                  </a>
                </li>
              </ul>
            </div>

          </div>
        </div>
        <div class="col-xl-2 col-md-6 col-lg-3">
          <div class="footer_widget">
            <h3 class="footer_title">
              Services
            </h3>
            <ul>
              <li><a href="#"> Startup</a></li>
              <li><a href="#">Finance solution</a></li>
              <li><a href="#">Food</a></li>
              <li><a href="#">Travel</a></li>
            </ul>

          </div>
        </div>
        <div class="col-xl-2 col-md-6 col-lg-2">
          <div class="footer_widget">
            <h3 class="footer_title">
              Useful Links
            </h3>
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#"> Contact</a></li>
              <li><a href="#">Appointment</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-4 offset-xl-1 col-md-6 col-lg-4">
          <div class="footer_widget">
            <h3 class="footer_title">
              Subscribe
            </h3>
            <form action="#" class="newsletter_form">
              <input type="text" placeholder="Enter your mail">
              <button type="submit">Subscribe</button>
            </form>
            <p class="newsletter_text">Esteem spirit temper too say adieus who direct esteem esteems luckily.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copy-right_text">
    <div class="container">
      <div class="footer_border"></div>
      <div class="row">
        <div class="col-xl-12">
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->

<!-- JS here -->
<script src="javascripts/vendor/modernizr-3.5.0.min.js"></script>
<script src="javascripts/vendor/jquery-1.12.4.min.js"></script>
<script src="javascripts/popper.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/owl.carousel.min.js"></script>
<script src="javascripts/isotope.pkgd.min.js"></script>
<script src="javascripts/ajax-form.js"></script>
<script src="javascripts/waypoints.min.js"></script>
<script src="javascripts/jquery.counterup.min.js"></script>
<script src="javascripts/imagesloaded.pkgd.min.js"></script>
<script src="javascripts/scrollIt.js"></script>
<script src="javascripts/jquery.scrollUp.min.js"></script>
<script src="javascripts/wow.min.js"></script>
<script src="javascripts/nice-select.min.js"></script>
<script src="javascripts/jquery.slicknav.min.js"></script>
<script src="javascripts/jquery.magnific-popup.min.js"></script>
<script src="javascripts/plugins.js"></script>
<script src="javascripts/gijgo.min.js"></script>

<!--contact js-->
<script src="javascripts/contact.js"></script>
<script src="javascripts/jquery.ajaxchimp.min.js"></script>
<script src="javascripts/jquery.form.js"></script>
<script src="javascripts/jquery.validate.min.js"></script>
<script src="javascripts/mail-script.js"></script>

<script src="javascripts/main.js"></script>
</body>
</html>
