<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!--  <link rel='stylesheet' href='/stylesheets/style.css' />-->
    <!--  <link rel='stylesheet' href='/stylesheets/foundation.min.css' />-->
    <!--  <link rel='stylesheet' href='/stylesheets/materialize.min.css' />-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Xenturion | Labs</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/owl.carousel.min.css">
    <link rel="stylesheet" href="stylesheets/magnific-popup.css">
    <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/themify-icons.css">
    <link rel="stylesheet" href="stylesheets/nice-select.css">
    <link rel="stylesheet" href="stylesheets/flaticon.css">
    <link rel="stylesheet" href="stylesheets/gijgo.css">
    <link rel="stylesheet" href="stylesheets/animate.min.css">
    <link rel="stylesheet" href="stylesheets/slick.css">
    <link rel="stylesheet" href="stylesheets/slicknav.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>
<body>
<header>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-2">
                        <div class="logo">
                            <a href="/">
                                <img src="images/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-7">
                        <div class="main-menu  d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a href="/">home</a></li>
                                    <li><a href="/products">Products</a>
                                        <!--                    <ul class="submenu">-->
                                        <!--                      <li><a href="Case_details.html">Case  details</a></li>-->
                                        <!--                      <li><a href="about.html">about</a></li>-->
                                        <!--                      <li><a href="elements.html">elements</a></li>-->
                                        <!--                    </ul>-->
                                    </li>
                                    <li><a href="/services">Services</a></li>
                                    <!--                  <li><a href="Case_Study.html">Case Study</a></li>-->
                                    <!--                  <li><a href="#">blog <i class="ti-angle-down"></i></a>-->
                                    <!--                    <ul class="submenu">-->
                                    <!--                      <li><a href="blog.html">blog</a></li>-->
                                    <!--                      <li><a href="single-blog.html">single-blog</a></li>-->
                                    <!--                    </ul>-->
                                    <!--                  </li>-->
                                    <li><a href="/contacts">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                        <div class="Appointment">
                            <div class="book_btn d-none d-lg-block">
                                <a  href="#"> <i class="fa fa-phone"></i> +65 8249 0627</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>

<div class="shap_big_2 d-none d-lg-block Another_shap_big">
    <img src="img/ilstrator/big.png" alt="">
</div>

<!-- features_area  -->
<div class="features_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center">
                    <h3>We have some awesome features <br>
                        to get your business jumpstart into Blockchain</h3>
                    <p>Based on prior experience with developing blockchain based technology and applications, Xenturion established confidence through <a href="https://link.springer.com/chapter/10.1007/978-3-030-13693-2_19">literature research</a> and by establishing basic protocols for our blockchain network. <br></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_feature">
                    <div class="icon">
                        <img src="images/svg_icon/feature_1.svg" alt="">
                    </div>
                    <h4>Custom Blockchain Design</h4>
                    <p>Looking for solutions, trailblazing companies of today recourse to the blockchain technology,
                        because in pro hands it becomes an ultimate tool for storing and transferring the assets (data, money, energy) transparently,
                        securely, quickly and cost-effectively.</p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_feature">
                    <div class="icon">
                        <img src="images/svg_icon/feature_2.svg" alt="">
                    </div>
                    <h4>Document Transaction Search</h4>
                    <p>Through the building of encrypted keyword indexes for
                        the shared file, the encrypted keyword indexes information is
                        stored on the Blockchain, the smart
                        contract is deployed and implement the keyword search in the decentralized storage systems.</p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_feature">
                    <div class="icon">
                        <img src="images/svg_icon/feature_3.svg" alt="">
                    </div>
                    <h4>Global Partners in All Continents</h4>
                    <p>Xenturion is a member of the Blockchain consortium with over 200 members and partners across multiple industries from both private
                        and public sector, through our R&D the open source blockchain platform designed specifically for businesses.</p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_feature">
                    <div class="icon">
                        <img src="images/svg_icon/feature_4.svg" alt="">
                    </div>
                    <h4>Quick Technical Response</h4>
                    <p>At Xenturion’s worldwide network of Response Centers, our technical support engineers are standing by 24/7
                        to answer various requests, Our team provides valuable backup and  offers  services that enables
                        quick and effective restoration of your system.</p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_feature">
                    <div class="icon">
                        <img src="images/svg_icon/feature_5.svg" alt="">
                    </div>
                    <h4>Custom Blockchain Applications</h4>
                    <p>With the technology ready to transform the way businesses are transacted,
                        achieve business transformation with leading-edge Blockchain solutions.
                        Xenturion can build Cryptocurrency Wallets, Blockchain Apps, Smart Contracts and more.</p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_feature">
                    <div class="icon">
                        <img src="images/svg_icon/feature_6.svg" alt="">
                    </div>
                    <h4>Setup business ROI</h4>
                    <p>The scale of impact and speed to market will reveal the correct strategic approach on where
                        and how to compete to enable companies to start extracting value in the short term.
                        Start making Blockchain as the solution for your business.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ features_area  -->

<footer class="footer">
    <div class=" container">
        <div class="pro_border">
            <div class="row">
                <div class="col-xl-6 col-md-6">
                    <div class="lets_projects">
                        <h3>Let’s Start your project, <a href="#">Mail Us</a> </h3>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="phone_number">
                        <h3>+65 8249 0627</h3>
                        <a href="#">support@xenturion.io</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <div class="footer_logo">
                            <a href="#">
                                <img src="images/footer_logo.png" alt="">
                            </a>
                        </div>
                        <p>
                            1 Yishun Industrial Street | 768160 | Singapore
                        </p>
                        <div class="socail_links">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="ti-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ti-twitter-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Services
                        </h3>
                        <ul>
                            <li><a href="#"> Smart Contract Design</a></li>
                            <li><a href="#">Smart Contract Audit</a></li>
                            <li><a href="#">Decentralised Apps </a></li>
                            <li><a href="#">Business Consensus </a></li>
                        </ul>

                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-lg-2">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Useful Links
                        </h3>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Products</a></li>
                            <li><a href="#"> Services</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 offset-xl-1 col-md-6 col-lg-4">
                    <div class="footer_widget">
                        <!--            <h3 class="footer_title">-->
                        <!--              Subscribe-->
                        <!--            </h3>-->
                        <!--            <form action="#" class="newsletter_form">-->
                        <!--              <input type="text" placeholder="Enter your mail">-->
                        <!--              <button type="submit">Subscribe</button>-->
                        <!--            </form>-->
                        <h3 class="footer_title">
                            Subscribe
                        </h3>
                        <!-- Begin Mailchimp Signup Form -->
                        <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
                        <style type="text/css">
                            #mc_embed_signup{background:#001d38; clear:left; font:14px Helvetica,Arial,sans-serif; }
                            /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                               We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                        </style>
                        <div id="mc_embed_signup">
                            <form action="https://xenturion.us4.list-manage.com/subscribe/post?u=e5d76397f924b31e3cda1b556&amp;id=a090eeef83" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll">
                                    <!--                  <h2>Subscribe</h2>-->
                                    <div class="indicates-required" style="color: white"><span class="asterisk">*</span> indicates required</div>
                                    <div class="mc-field-group">
                                        <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                                        </label>
                                        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                    </div>
                                    <div id="mce-responses" class="clear">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e5d76397f924b31e3cda1b556_a090eeef83" tabindex="-1" value=""></div>
                                    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" style="background: #fe1b8b"></div>
                                </div>
                            </form>
                        </div>
                        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                        <!--End mc_embed_signup-->
                        <p class="newsletter_text">We will only use your email to send you our newsletter and by submitting this form you give us permission to do so. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right_text">
        <div class="container">
            <div class="footer_border"></div>
            <div class="row">
                <div class="col-xl-12">
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->
<!-- JS here -->
<script src="javascripts/vendor/modernizr-3.5.0.min.js"></script>
<script src="javascripts/vendor/jquery-1.12.4.min.js"></script>
<script src="javascripts/popper.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/owl.carousel.min.js"></script>
<script src="javascripts/isotope.pkgd.min.js"></script>
<script src="javascripts/ajax-form.js"></script>
<script src="javascripts/waypoints.min.js"></script>
<script src="javascripts/jquery.counterup.min.js"></script>
<script src="javascripts/imagesloaded.pkgd.min.js"></script>
<script src="javascripts/scrollIt.js"></script>
<script src="javascripts/jquery.scrollUp.min.js"></script>
<script src="javascripts/wow.min.js"></script>
<script src="javascripts/nice-select.min.js"></script>
<script src="javascripts/jquery.slicknav.min.js"></script>
<script src="javascripts/jquery.magnific-popup.min.js"></script>
<script src="javascripts/plugins.js"></script>
<script src="javascripts/gijgo.min.js"></script>

<!--contact js-->
<script src="javascripts/contact.js"></script>
<script src="javascripts/jquery.ajaxchimp.min.js"></script>
<script src="javascripts/jquery.form.js"></script>
<script src="javascripts/jquery.validate.min.js"></script>
<script src="javascripts/mail-script.js"></script>

<script src="javascripts/main.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-153787799-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-153787799-1');
</script>
</body>
</html>
